<pre>{{miContacto| json}}</pre>
<div class="pantalla1" fxFlex="100%">


    <div fxLayout="column" class="contactoInfo">
        <div class="titulo">
            <h2>Contacto</h2>
        </div>
        <div class="informacion" fxFlex="40%" fxLayout="row" fxLayoutAlign="space-evenly center">
            <div id="direccion">
                <fa-icon [icon]="myIcon" class="fa-5x"></fa-icon>
                <h3>102 Street 2714 Don</h3>
            </div>
            <div id="telefono">
                <fa-icon [icon]="myIcon2" class="fa-5x"></fa-icon>
                <h3>+02 1234567</h3>
            </div>
            <div id="correo">

                <fa-icon [icon]="myIcon3" class="fa-5x"></fa-icon>
                <h3>hello@flowbase.com</h3>
            </div>
        </div>
        <form class="formulario" fxFlex="60%" #formContacto="ngForm">
            <div fxLayout="row" fxLayoutAlign="space-evenly center">
                <div class="column">
                    <label for="nombre">Tu nombre</label><br>
                    <input type="text" placeholder="nombre" name="nombre" #nombre="ngModel"
                        [(ngModel)]="miContacto.nombre"><br>
                    <label for="correo">Mail</label><br>
                    <input name="correo" type="email" placeholder="correo" #correo="ngModel"
                        [(ngModel)]="miContacto.correo"><br>
                    <label for="telefono">Phone</label><br>
                    <input name="telefono" type="text" placeholder="telefono" #telefono="ngModel"
                        [(ngModel)]="miContacto.telefono">
                </div>
                <div class="column">
                    <label for="mensaje">Message</label><br>
                    <textarea name="mensaje" #mensaje="ngModel" [(ngModel)]="miContacto.mensaje">

                    </textarea>
                </div>
            </div>

            <div class="botonEnviar" fxLayout="row" fxLayoutAlign="center center">
                <button mat-button color="warm" (click)="sentir()">enviar</button>
            </div>
        </form>
    </div>
</div>