.pantalla1{
    background-color: rgb(9,2,34);
    height: 100vh;
    border-radius: 15px;
    padding: 8%;

} 

.contactoInfo{
    background-color: #FFF3E0;
    border-radius: 15px;
    //margin: 10px;
    h2{
      font-weight: bold;  
    }

    .titulo{
        text-align: center;
    }

    .informacion{
        padding: 10px;
        border-radius: 10px;
        margin-left: 15rem;
        margin-right: 15rem;
        margin-bottom: 2em;
        background-color: white;
        text-align: center;
        
    }

    .formulario{
        padding: 30px;
        margin-left: 15rem;
        margin-right: 15rem;
        margin-bottom: 2em;
        background-color: white;
        //text-align: center;
        border-radius: 10px;

   
        .buttonSend{
            padding: 30px;
            border-radius: 15px;
            background-color: white;
            text-align: center;
        }
        
    }

}

