<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Color</th>
      <th scope="col">Accion</th>

    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let articulo of categorialista; let i = index">
      <td>{{ i+1}}</td>
      <td>{{ articulo.nombre}}</td>
      <td>
        <div  class = "color"[ngStyle]="{'background-color': articulo.color}">

        </div>
      </td>

      <td fxLayout="row">
           <button type="button" class="btn" (click)="modificar(articulo.id)"> editar</button>
           <button type="button" class="btn" (click)="eliminar(articulo.id!)"> eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>