<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Titulo</th>
    <th scope="col">Descripcion</th>
    <th scope="col">Imagen</th>
    <th scope="col">Autor</th>
    <th scope="col">Fecha</th>
    <th scope="col">Funciones</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let articulo of articuloslista">
    <td>{{ articulo.id}}</td>
    <td>{{ articulo.titulo}}</td>
    <td>{{ articulo.descripcion}}</td>
    <td>
    <img src="{{articulo.imagen}}" width="200px">
</td>
    <td>{{ articulo.autor}}</td>
    <td>{{ articulo.fechaCreacion}}</td>
    <td fxLayout="row">
         <button type="button" class="btn"  [routerLink]="'/admin/fArticulo/'+articulo.id"> editar</button>
         <button type="button" class="btn" (click)="print(articulo.id!)"> eliminar</button>
    </td>
  </tr>
  </tbody>
</table>