<form class="example-form">
    <mat-form-field class="example-full-width">
        <input type="text" placeholder="Search" name="search" #search="ngModel" [(ngModel)]="buscar" matInput>
    </mat-form-field>
    
</form>
<app-card [helicoptero]="filtrador(buscar)"></app-card>
