
.formulario{
    padding: 5%;
  input[type=text],
        textarea,
        input[type=date] {
           
            width: 80%;
        }
}
input[type=text],
        textarea,
        input[type=date] {
           
            width: 80%;
        }
        