<!-- <form class="formulario" fxLayout="column" fxFlex="100%">
    <div fxLayout="row">
        <label for="nombre" fxFlex="10%">Nombre</label>
        <input type="text" name="mombre" fxFlex="80%" #nombre="ngModel" [(ngModel)]="avion1Form.nombre" />
    </div>
    <div fxLayout="row">
        <label for="color" fxFlex="10%">Color</label>
        <input type="color" name="color" fxFlex="80%" #color="ngModel" [(ngModel)]="avion1Form.color" />

    </div>

    <div fxLayout="row" fxLayoutAlign="center center">
        <button id="botonEnviar" (click)="sentir()">Enviar</button>
        <button type="button" class="btn btn-primary" (click)="sentir()">Primary</button>
    </div>
</form> -->

<form #fCategoria="ngForm" fxLayout="column " #form="ngForm">

  <div class="form-group ">
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre" class="form-control"  [(ngModel)]="categoriaNueva.nombre" #nombre="ngModel">
  </div>
  <div class="form-group">
    <label for="color">Color</label>
    <input type="color" name="color" class="form-control"  [(ngModel)]="categoriaNueva.color" #color="ngModel">
  </div>


  <button type="submit" class="btn btn-primary" (click)="crearCategoria(categoriaNueva)">Guardar</button>
</form>
{{categoriaNueva|json}}