<div fxLayout="column">
  <div fxFlex="50%" class="Relacionados" fxLayout="column">
    <h2>
      Lectura Recomendada
    </h2>
    <div class="texto" fxLayout="row" *ngFor="let pos of misArticulos">
      <a [routerLink]="'/articulos/'+pos.id">ver mas</a>

      <div class="fotos" fxLayout="column">
        <div fxLayout="row">
          <div id="etiquetas" *ngFor="let etiqueta of pos.categorias" [ngStyle]="{'background-color':etiqueta.color}"
            fxFlex>{{etiqueta.nombre}} </div>
          </div>      
          <img  fxLayoutAlign="center" src="{{pos.imagen}}" fxFlex="100%">
      </div>
      <div class="derarticulo">
        <h3>
          {{pos.titulo}}
        </h3>
        <h4>{{pos.descripcion}}</h4>
        <h5>{{pos.id}}</h5>
        <h4>{{pos.autor}}</h4>
        <h5>{{pos.fechaCreacion}}</h5>

      </div>
    </div>
  </div>