//Estas son las tarjetas no confundir con el inicio.scss
.derarticulo {
    padding: 20px;
    background-color: rgb(9, 2, 34);
    height: 100%;
    margin-right: 5%;


}

.texto {
    padding: 20px;
    background-color: rgb(9, 2, 34);
    height: 100%;

    .fotos {
        padding: 20px;
        margin-top: 1.5rem;
        margin-left: 1.5rem;
        height: 20rem;
        width: 30rem;
    }

}

//Dar estilos a los cuadros de recomendacion para leer
.Relacionados {
    margin: 0.7%;
    background-color: rgb(26, 15, 70);
    height: 100%;

    h2 {
        color: rgb(200, 150, 0);
        font-size: 20px;
        font-family: "Tapestry", cursive;
        margin-left: 5rem;
    }

    h3 {
        color: rgb(200, 150, 0);
        font-family: "Tapestry", cursive;
    }

    h4 {
        color: white;
        font-family: 'Tapestry', cursive;
    }

    h5 {
       color: rgb(200,150,0);
        font-family: 'Roboto Mono', monospace;
    }


#etiquetas{
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }
}