.menu{
    color: white;
    line-height: 80px;
    list-style: none;
    //width: 200%;
    li{
        list-style: none;
        //margin-left: 80px;
    }
}
.menu {
    background-color: black;


}

.subtitulo {
  //  width: 200%;

    background-color: black;
    h1{
        display: inline-block;
    }
   // display: flex;
    //justify-content: center;

    h2 {
        font-family: 'Alumni Sans Inline One', cursive;
        font-size: 20px;
    }
.boton1{
    color: white;
}
}