<div fxLayout="column">
<div fxFlex="20%" class="subtitulo" fxLayoutAlign="center center" fxLayout="column">
    
    <h1>
        <img src="https://img.yugioh-card.com/en/wp-content/uploads/2020/04/logo-main.png" alt="">

    </h1>

</div>
<div fxLayout="row" class="menu">
    <ul fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex>
        <li><a routerLink="/inicio" > <button mat-raised-button color="primary" style="background-color: black;">Home</button></a> </li>
        <li><a routerLink="/contacto"><button mat-raised-button color="primary" style="background-color: black;">Contacto</button></a> </li>
        <li><a routerLink="/articulo"><button mat-raised-button color="primary" style="background-color: black;">Articulo</button></a> </li>
        <li><a>Noticias</a></li>
        <li><a>¿Como jugar?</a></li>
        <li><a>Iniciar sesión</a></li>
        <li><a routerLink="/todosblogs"><button mat-raised-button color="primary" style="background-color: black;">Blogs</button></a> </li>
    </ul>
</div>
</div>