<!--
<div class="fondo">
  <div class="izquierda">
    <div class="titulo">
      <h1>Señor de los anillos</h1>
    </div>
    <div class="espacio">
    </div>
    <div class="mensaje">
      <div class="mensaje_iz">
        <h2> Mi Blog Personal</h2>
      </div>
      <button class="boton">
        &lt;
      </button>
      <button class="boton">
        &gt;
      </button>
    </div>

  </div>
</div>
<div class="derecha">
</div>
-->

<div class="entradas" fxLayout="column">

 <app-menu></app-menu>
</div>
<router-outlet></router-outlet>
