<form class="formulario" fxLayout="column" fxFlex="100%">
    <div fxLayout="row">
        <label for="titulo" fxFlex="10%">Titulo</label>
        <input type="text" name="titulo" fxFlex="80%" #titulo="ngModel" 
            [(ngModel)]="avionForm.titulo" />
    </div>
    <div fxLayout="row">
        <label for="autor" fxFlex="10%">Autor</label>
        <input type="text" name="autor" fxFlex="80%" #autor="ngModel" 
            [(ngModel)]="avionForm.autor" />

    </div>
    <div fxLayout="row">
        <label for="fecha" fxFlex="10%">Fecha</label>
        <input type="date" name="fecha" fxFlex="80%" #fecha="ngModel" 
            [(ngModel)]="avionForm.fechaCreacion" />

    </div>

    <div fxLayout="row">
        <label for="descripcion" fxFlex="10%">Descripcion</label>
        <input  type="text" name="descripcion" fxFlex="80%" #descripcion="ngModel" 
            [(ngModel)]="avionForm.descripcion" />
    </div>
    <div fxLayout="row">

        <label for="imagen" fxFlex="10%">Imagen</label>
        <input type="file" name="imagen" fxFlex="80%" #imagen="ngModel" 
            [(ngModel)]="avionForm.imagen" />

    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
        <button id="botonEnviar" (click)="sentir()">Enviar</button>
    </div>
</form>