<div fxFlex="20%">
<div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <h2>Articulo</h2>
            <a class="nav-link active" [routerLink]="'/admin/fArticulo'+'/Crear'" href="#">Crear</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="'/admin/fArticulo'+'/001'" href="#">Modificar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/admin/fTable'"href="#">Tabla</a>
        </li>
    </ul>
</div>
<div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <h2>Categoria</h2>
            <a class="nav-link active" [routerLink]="'/admin/fCategoria'+'/Crear'" href="#">Crear</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="'/admin/fCategoria'+'/001'">Modificar</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" [routerLink]="'/admin/TableC'" >Tabla</a>
        </li>
    </ul>
</div>
</div>
<div fxFlex="80%">
    <router-outlet></router-outlet>
</div>
