body{
    margin: 0;
}
.font1{
    font-family: 'Tapestry', cursive;
}
.font2{
    font-family: 'Roboto Mono', monospace;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
