<div class="fondo" fxLayout="column" fxFlex="100%">

    <div class="portada" fxLayout="row">
        <div class="imagen" fxFlex="100%"fxLayoutAlign="space-around center">
            
            <div id="etiquetas" fxLayout="row" fxLayoutAlign="end start" *ngFor="let etiqueta of articulo.categorias"></div>  
            <img fxFlex="50%" [src]="articulo.imagen">
        </div>
        <div class="enegrecer"></div>
        <div class="texto" fxLayout="column" fxLayoutAlign="center center">
            <h1>{{articulo.titulo}}</h1>
        </div>
    </div>

    <div class="descripcion" fxLayout="row" fxLayoutAlign="space-around center">
        <div>
            <app-card [helicoptero]="recomendado"></app-card>
        </div>
    </div>
</div>