.fondo{
    margin-top: 15%;
}
.portada {
    position: relative;
    
}

.texto {
    background-color: rgb(9,2,34);
    position: absolute;
    z-index: 4;
    top: -21.4%;
    left: 0%;
    right: 0%;
    

    h1 {
        font-family: "Tapestry", cursive;
        font-size: 18vh;
        color: rgb(255,165,13);
        margin-top: 1px;
    }

}

.imagen {
    background-color: rgb(9,2,34);
 
    img {
        object-fit: cover;
    }
}
.descripcion{
    background-color: rgb(9,2,34);
}
.enegrecer {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100vh;
    background: linear-gradient(rgba(255, 0, 0, 0.3)), (rgba(255, 0, 0, 0.3))
}