<div class="entradas" fxLayout="column">  
    <div fxFlex="70%" class="destacado" fxLayout="row">
      <div fxFlex="50%" class="Importante" fxLayout="column">
        <div class="imagen" fxLayout="column">
          <img src="https://cdn.wallpapersafari.com/50/88/rdOkDQ.jpg" alt="">
          <div class="texto_titular" fxFlex fxLayout="column" fxLayoutAlign="left left">
            <h3>
              Acerca de Yu-Gi-Oh 
              {{ verificarNumeroPrimo (97)}}
            </h3>
            <p>
              Yu-Gi-Oh! es un emocionante universo basado en un juego de cartas que se juega con monstruos,
              hechizos y trampas. El Yu-Gi-Oh! La franquicia incluye series de manga, series de televisión,
              varios videojuegos, Yu-Gi-Oh! ¡JUEGO DE CARTAS COLECCIONABLES, y más!
              Esta breve guía te ayudará a familiarizarte con algo de lo que Yu-Gi-Oh! tiene que ofrecer
            </p>
  
            <pre>{{clase| json}}</pre>
            <div *ngFor="let persona of clase">
  
              <h3>Bienvenido: {{persona.nombre}}</h3>
              <h3 *ngIf="persona.casado; else soltero"> estas casado</h3>
              <ng-template #soltero>
                <h3>Estas soltero </h3>
              </ng-template>
  
              <h3>Tus mascotas son:</h3>
              <ul>
                <!-- <li *ngFor="let mas of persona.mascotas">{{mas}}</li> -->
              </ul>
            </div>
          </div>
        </div>
  
  
      </div>
      <app-card [helicoptero]="card">
  
      </app-card>
    </div>
  
  </div>