//Aqui se le da diseño en funciones
.fondo {
    background-color: red;
    height: 100vh;
    display: flex;
}

.izquierda {
    //background-color: blue;
    height: 100%;
    flex-basis: 80%;
    //Sirve para colocar las cajas en columna u horizontal
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-image: url(https://cloudfront-us-east-1.images.arcpublishing.com/gruporepublica/YVMTLSA4FNG73LFLQGHQGJU2EE.jpg)
}

.boton {
    background-color: gold;
    height: 25%;
}

.derecha {
    background-color: yellow;
    height: 100%;
    flex-basis: 20%;

}

.titulo {
    //background-color: green;
    flex-basis: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h1 {
        font-family: 'Alumni Sans Inline One', cursive;
        color: orange;

    }

    font-size: 3rem;
    backdrop-filter: brightness(0.5);


}

.espacio {

    //background-color: gray;
    flex-basis: 50%;
    backdrop-filter: brightness(0.5);
}

.mensaje {

    //background-color: fuchsia;
    flex-basis: 30%;
    display: flex;
    backdrop-filter: brightness(0.5);
}

.mensaje_iz {

    flex-basis: 80%;
    color: rgb(0, 0, 0);
    // background-color: lightcoral;
}

.mensaje_der {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: lightgreen;

}

.entradas {
    background-color: rgb(0, 0, 0);
    //height: 100vh;
}




.destacado {
    background-color: rgb(9,2,34);
    

}


.varios {
    background-color: red;
}

.anuncios {
    background-color: blueviolet;
}

.Importante {
    margin: 0.7%;
 
    height: 100%;
}


.texto_titular {
   align-items: flex-start;
   background-color: rgb(9,2,34);
   p{
    font-family: 'Tapestry', cursive;
       color: white;
       font-size: 20px;
       margin-left: 1rem;
   
   }
    h3 {
        margin-left: 1rem;
        font-size: 35px;
        font-family: 'Tapestry', cursive;
        color: orange;
    }
    font-size: 0.7px;

}
//contenedor de todo
.imagen {
    
    height: 100%;

}

.Relacionados img {
    border-radius: 5%;
    
}
//aqui novale cambiar solo la foto el tamaño ya que esta en el color verde el contenedor y ocupa el espacio del contenedor
//cuando le queria dar height y width se me hizo  la foto pequeña pero el fondo verde seguia.
.imagen img {
 text-align: center;
 border-radius: 5%;
height: 35rem;
}
