
<div class="fondo">
    <div class="articulo" fxLayout = "column">
        <div class="titulo" fxFlex="20%" fxLayout="row">
            <h2>Laura Smith</h2>
        </div>
        <div class="cuadro" fxFlex="20%" fxLayout="row">
            <label>Quito</label><br>
            <label>Fecha: 28/04/2022</label>
            
        </div>
        <div class="imagen" fxFlex="20%" fxLayout="row" fxLayoutAlign="space-evenly center">
            <img src="../../assets/img/1.jpg">

            <div class="texto">
                <div class="mensaje" fxFlex="20%" fxLayout="row">
                    <blockquote></blockquote>
                </div>

                <div class="contenido">
                        
                </div>

            </div>

        </div>
    </div>